body {
  background-color: #0C1115;
  font-family: 'Helvetica Neue';
  color: #999;
  padding: 1rem;
  font-weight: 400;
}

a:link,
a:visited,
svg {
  color: #999;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  background-color: #223636;
  margin-bottom: 5px;
  padding: .5rem 1.4rem;
  border-radius: 25px;
  font-size: .9rem;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #0C1115;
}

input[type=text],
input[type=text]:focus,
input[type=number],
input[type=number]:focus,
select,
select:focus {
  background-color: #223636;
  color: white;
  font-size: .9rem;
}


.card {
  border: 1px solid #184C5E;
}

.card-header {
  background-color: #143A48;
}

.card-body {
  position: relative;
}


.input-inline {
  display: flex;
  gap: .2rem;
  align-items: center;
  justify-content: center;
  background-color: #143A48;
  border:1px solid #184C5E;
  margin-bottom: 1rem;
}

.input-inline > :first-child {
  margin: 0;
  padding: 0 .5rem;
}

.input-inline > input {
  border: none;
  border-left:1px solid #184C5E;
}

.input-group-text {
  border-radius: 0 !important;
  border-color: #184C5E;
  background-color: #143A48;
  color: #999;
}

.form-control {
  color: white;
  background-color: #223636;
  border:1px solid #184C5E;
}

.btn-secondary {
  color: #fff;
  background-color: #1e5760;
  border-color: #18777e;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: none;
  border-color: #ccc;
  fill: white;
}