:root {
  --body-bg: #0C1115;
  --text: #aaa;
  --background: #0A1D26; /*#143A48*/
  --border: #16262E;
  --input-background: #2B3A41;
}

body {
  background-color: var(--body-bg);
  font-family: 'Helvetica Neue';
  color: var(--text);
  padding: 1rem;
  font-weight: 400;
}

a:link,
a:visited,
svg {
  color: var(--text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  background-color: var(--input-background);
  margin-bottom: 5px;
  padding: .5rem 1.4rem;
  border-radius: 25px;
  font-size: .9rem;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #0C1115;
}

input[type=text],
input[type=text]:focus,
input[type=number],
input[type=number]:focus,
select,
select:focus {
  background-color: var(--input-background);
  color: white;
  font-size: .9rem;
}


.card {
  border: 1px solid var(--border);
}

.card-header {
  background-color: var(--background);
}

.card-body {
  position: relative;
}


.input-inline {
  display: flex;
  gap: .2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  border:1px solid var(--border);
  margin-bottom: 1rem;
}

.input-inline > :first-child {
  margin: 0;
  padding: 0 .5rem;
}

.input-inline > input {
  border: none;
  border-left:1px solid var(--border);
}

.input-group-text {
  border-radius: 0 !important;
  border-color: var(--border);
  background-color: var(--background);
  color: var(--text);
}

.form-control {
  color: white;
  background-color: var(--input-background);
  border:1px solid var(--border);
}

.btn-secondary {
  color: white;
  background-color: var(--background);
  border-color: var(--border);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: white;
  background-color: none;
  border-color: #ccc;
  fill: white;
}